@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

:root {
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);

    --font-body: 3.2rem;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    display: flex;
    /* flex-flow: column; */
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: var(--font-body);
    font-family: 'Inter', sans-serif;
    background-image: url("/images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-position: 0 103%;
    background-size: 100%;
}

.wrapper {
    /* set width for mobile */
    width: 25rem;
    /* max width for big screens */
    max-width: 100rem;
    height: 85vh;
    /* Set max height at desktop */
    /* min width for small screens */
    min-height: 40rem;
}

.card {
    display: none;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;
}

.hero {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 45%;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
}


.img-wrapper::before {
    content: "";
    position: absolute;
    top: -30px;
    left: -40px;
    right: -30px;
    bottom: -40px;
    z-index: -1;
    background-image: url("/images/pattern-bg.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.bg-image {
    position: absolute;
    z-index: -1;
    width: 130%;
    left: -30px;
    top: -30px;
}

.img-wrapper {
    position: relative;
    height: 100%;
}

.profile-image {
    height: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 40px 0px rgba(0, 0, 0, .2);
}

.navigation-buttons {
    position: absolute;
    height: 5rem;
    width: 35%;
    max-width: 9rem;
    bottom: 0;
    left: 50%;
    display: flex;
    transform: translate(-50%, 50%);
    border-radius: 40px;
    overflow: hidden;
}

.navigation-button {
    background-color: white;
    flex: 1;
    border: none;
    border-radius: 0;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: transform .1s ease;
}

.navigation-button:hover {
    transform: scaleY(1.6);
}


.navigation-button:last-child {
    margin-left: -1px;
}

.navigation-button > img {
    width: 45%;
    height: 1.2rem;
}

.card-info {
    text-align: center;
    margin-top: 25%;
    letter-spacing: 0;
    color: var(--dark-blue);
    position: relative;
}

.card-info::before {
    z-index: -10;
    content: "";
    position: absolute;
    top: -20px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 0%;
}

.card__quote {
    display: inline-block;
    font-weight: 300;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.4;
}

.card-info > footer {
    margin-top: 1rem;
    display: flex;
    flex-flow: column;
}

.card__source-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.card__source-title {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--grayish-blue);
}

.active {
    display: flex;
    opacity: 1;
}

.fromLeft {
    animation: leftToRight 1s ease;
    animation-fill-mode: backwards;
}

.fromRight {
    animation: rightToLeft 1s ease;
    animation-fill-mode: backwards;
}

@keyframes leftToRight {
    from {
        transform: translateX(-10rem);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rightToLeft {
    from {
        transform: translateX(10rem);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@media(min-width: 800px) {

    body {
        background-position: -130px 160%;
    }

    .wrapper {
        width: 75vw;
        height: 80vh;
    }

    .card {
        flex-flow: row-reverse;
        align-items: center;
    }

    .hero {
        height: 75%;
        width: initial;
        margin: 0;
        flex: 1 0 50%;
    }

    .img-wrapper::before {
        top: -60px;
        left: -60px;
        right: -80px;
        bottom: -50px;
    }

    .profile-image {
        object-fit: cover;
    }

    .card-info {
        display: flex;
        flex-flow: column nowrap;
        height: auto;
        margin: 0;

        padding-left: 5rem;
        flex: 1 1 auto;
        margin-right: -10rem;
        max-width: 50rem;
        text-align: left;
        /* letter-spacing: 0.01ch; */
    }

    .card-info::before {
        background-size: 7rem;
        background-position: 4rem -1rem;
        top: -3.5rem;

    }

    .navigation-buttons {
        left: 25%;
        transform: translate(0, 50%);
    }

    .card__quote {
        word-spacing: .25rem;
        font-size: 2.8rem;
    }

    .card-info > footer {
        flex-flow: row;
        align-items: baseline;
    }

    .card__source-title {
        margin-left: .5rem;
    }

    .card-info::before {
        background-position: 12.5rem 0rem;
    }
}

@media(min-width: 1300px) {

    .hero {
        height: 65%;
    }

    .card-info {
        margin-left: 0rem;
        padding-left: 0rem;
        margin-right: -10rem;
        max-width: 70rem;
        text-align: left;
        letter-spacing: 0rem;
    }

    .card__quote {
        word-spacing: 0.5rem;
        font-size: 3.2rem;
    }

    .card-info::before {
        background-position: 9rem -3rem;
        background-size: 20%;

    }

}